{% set paragraph_base_class = paragraph_base_class|default('complex2') %}

{% extends "@components/paragraph/wrapper/wrapper.twig" %}
  {% block content %}
    {% include "@components/global/_twig_debug.twig" with { component_debug_path: _self} %}

    {{ attach_library('otsuka_design_system2022/paragraph.complex2') }}

    {% if content.field_otsk_ds_wrapper_background|render %}
      {% block field_otsk_ds_wrapper_background %}
        <div {{ bem(paragraph_base_class ~ '-background', [], paragraph_blockname) }}>
          {{ content.field_otsk_ds_wrapper_background }}
        </div>
      {% endblock %}
    {% endif %}

    {% if content.field_otsk_ds_wrapper_back_video|render %}
      {% block field_otsk_ds_wrapper_back_video %}
        <div {{ bem('bg-video', [], paragraph_blockname) }}>
          {{ content.field_otsk_ds_wrapper_back_video }}
        </div>
      {% endblock %}
    {% endif %}

    <div {{ bem(paragraph_base_class ~ '-content', [], paragraph_blockname) }}>
      {% if content.field_otsk_ds_wrapper_title %}
        {% block field_otsk_ds_wrapper_title %}
          <div {{ bem(paragraph_base_class ~ '-title', [], paragraph_blockname) }}>
            <h2>
              {{ content.field_otsk_ds_wrapper_title }}
            </h2>
          </div>
        {% endblock %}
      {% endif %}

      {% if content.field_otsk_ds_paragraphs %}
        {% block field_otsk_ds_paragraphs %}
          <div {{ bem(paragraph_base_class ~ '-paragraphs', [], paragraph_blockname) }}>
            <div class="row">
              <div {{ bem(paragraph_base_class ~ '-item1', [], paragraph_blockname, [
                'col-60',
                'col-sm-30',
                'col-lg-15',
                'text-center',
                'd-flex',
                'justify-content-center',
              ]) }}>
                {% if content.field_otsk_ds_paragraphs[0]['#paragraph'].storibook_content %}
                  {{ content.field_otsk_ds_paragraphs[0]['#paragraph'].storibook_content }}
                {% else %}
                  {{ content.field_otsk_ds_paragraphs[0]|render }}
                {% endif %}
              </div>
              <div {{ bem(paragraph_base_class ~ '-item2', [], paragraph_blockname, [
                'col-60',
                'col-sm-30',
                'col-lg-30',
                'mb-4',
                'd-flex',
                'justify-content-center',
              ]) }}>
                {% if content.field_otsk_ds_paragraphs[1]['#paragraph'].storibook_content %}
                  {{ content.field_otsk_ds_paragraphs[1]['#paragraph'].storibook_content }}
                {% else %}
                  {{ content.field_otsk_ds_paragraphs[1]|render }}
                {% endif %}
              </div>
              <div {{ bem(paragraph_base_class ~ '-item3', [], paragraph_blockname, [
                'col-60',
                'col-sm-60',
                'col-lg-15',
                'text-center',
                'd-flex',
                'justify-content-center',
              ]) }}>
                {% if content.field_otsk_ds_paragraphs[2]['#paragraph'].storibook_content %}
                  {{ content.field_otsk_ds_paragraphs[2]['#paragraph'].storibook_content }}
                {% else %}
                  {{ content.field_otsk_ds_paragraphs[2]|render }}
                {% endif %}
              </div>
            </div>
            <div class="row">
              <div {{ bem(paragraph_base_class ~ '-item4', [], paragraph_blockname, [
                'col-60',
                'col-md-20',
                'col-sm-30',
                'mb-4',
              ]) }}>
                {% if content.field_otsk_ds_paragraphs[3]['#paragraph'].storibook_content %}
                  {{ content.field_otsk_ds_paragraphs[3]['#paragraph'].storibook_content }}
                {% else %}
                  {{ content.field_otsk_ds_paragraphs[3]|render }}
                {% endif %}
              </div>
              <div {{ bem(paragraph_base_class ~ '-item5', [], paragraph_blockname, [
                'col-60',
                'col-sm-30',
                'col-md-20',
                'mb-4',
              ]) }}>
                {% if content.field_otsk_ds_paragraphs[4]['#paragraph'].storibook_content %}
                  {{ content.field_otsk_ds_paragraphs[4]['#paragraph'].storibook_content }}
                {% else %}
                  {{ content.field_otsk_ds_paragraphs[4]|render }}
                {% endif %}
              </div>
              <div {{ bem(paragraph_base_class ~ '-item6', [], paragraph_blockname, [
                'col-60',
                'col-md-20',
                'mb-4',
              ]) }}>
                {% if content.field_otsk_ds_paragraphs[5]['#paragraph'].storibook_content %}
                  {{ content.field_otsk_ds_paragraphs[5]['#paragraph'].storibook_content }}
                {% else %}
                  {{ content.field_otsk_ds_paragraphs[5]|render }}
                {% endif %}
              </div>
            </div>
            <div class="row">
              <div {{ bem(paragraph_base_class ~ '-item7', [], paragraph_blockname, [
                'col-60',
                'col-sm-30',
                'col-md-15',
                'mb-4',
                'text-center',
                'text-sm-start',
                'd-flex',
                'align-items-sm-center',
                'align-items-md-start',
                'justify-content-center',
                'justify-content-md-start'
              ]) }}>
                {% if content.field_otsk_ds_paragraphs[6]['#paragraph'].storibook_content %}
                  {{ content.field_otsk_ds_paragraphs[6]['#paragraph'].storibook_content }}
                {% else %}
                  {{ content.field_otsk_ds_paragraphs[6]|render }}
                {% endif %}
              </div>
              <div {{ bem(paragraph_base_class ~ '-item8', [], paragraph_blockname, [
                'col-60',
                'col-sm-30',
                'col-md-15',
                'mb-4',
                'text-center',
                'text-sm-start',
              ]) }}>
                {% if content.field_otsk_ds_paragraphs[7]['#paragraph'].storibook_content %}
                  {{ content.field_otsk_ds_paragraphs[7]['#paragraph'].storibook_content }}
                {% else %}
                  {{ content.field_otsk_ds_paragraphs[7]|render }}
                {% endif %}
              </div>
              <div {{ bem(paragraph_base_class ~ '-item9', [], paragraph_blockname, [
                'col-60',
                'col-sm-30',
                'col-md-15',
                'mb-4',
                'text-center',
                'text-sm-start',
                'd-flex',
                'justify-content-center',
                'justify-content-sm-start',
              ]) }}>
                {% if content.field_otsk_ds_paragraphs[8]['#paragraph'].storibook_content %}
                  {{ content.field_otsk_ds_paragraphs[8]['#paragraph'].storibook_content }}
                {% else %}
                  {{ content.field_otsk_ds_paragraphs[8]|render }}
                {% endif %}
              </div>
              <div {{ bem(paragraph_base_class ~ '-item10', [], paragraph_blockname, [
                'col-60',
                'col-sm-30',
                'col-md-15',
                'mb-4',
                'text-center',
                'text-sm-end',
                'd-flex',
                'align-items-sm-center',
                'align-items-md-start',
                'justify-content-center',
                'justify-content-md-end'
              ]) }}>
                {% if content.field_otsk_ds_paragraphs[9]['#paragraph'].storibook_content %}
                  {{ content.field_otsk_ds_paragraphs[9]['#paragraph'].storibook_content }}
                {% else %}
                  {{ content.field_otsk_ds_paragraphs[9]|render }}
                {% endif %}
              </div>
            </div>

          </div>
        {% endblock %}
      {% endif %}
    </div>
  {% endblock %}
